# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debugging related
*.dwo
*.elf
*.map
*.pdb
*.tds
*.winfe

# for now this is gray
# cus the templates are in
# here but i should prob
# change that sooner or later
# bin/
